#{extends 'main.html' /}
#{set title:'Home' /}

<div class="block">
  <div id="search">
    <form name="input" action="/search" method="get">
      <input type="text" id="searchText" name="searchText" size="78" maxlength="100"/>
      <input type="submit" value="Search"/>
    </form>
  </div>

  <div class="result">
  #{if results}
    #{list items:results, as:'searchResult'}
      <a href="${searchResult.href}">${searchResult.name}</a><br/>
    #{/list}
    Total count: ${results.size() + 1}
  #{/if}
  </div>
</div>
<div id="add">
  Add task
  <form name="input" action="/addTask" method="post">
    <div>
      text:<br/>
      <input type="text" id="taskSearchText" name="searchText" maxlength="100"/>
      <img id="clear-task-search-text" alt="clear" src="@{'/public/images/favicon.png'}"/>
      <img id="copy-from-search-pane-button" alt="copy" src="@{'/public/images/favicon.png'}"/>
    </div>
    <div>
      e-mail:<br/>
      <input type="text" id="taskEmail" name="e-mail" maxlength="30"/>
      <img id="clear-task-search-email" alt="clear" src="@{'/public/images/favicon.png'}"/>
    </div>
    <div>
      timeout (in mins):<br/>
      <input type="text" id="taskTimeout" name="timeout" maxlength="5"/>
      <img id="clear-task-search-timeout" alt="clear" src="@{'/public/images/favicon.png'}"/>
    </div>
    <div class="button" id="add-task-button">Add</div>
    <div class="button" id="clear-task-button">Clear</div>
  </form>
  #{ifErrors}
    <div class="add-task-validation-errors">
      #{errors}
        <li>${error}</li>
      #{/errors}
    </div>
  #{/ifErrors}
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#add-task-button').bind('click', function() {
      alert('send ajax to create task');
    });
    $('#searchText').bind('keyup', function() {
      $('#taskSearchText').val($('#searchText').val());
    });

    addClearActions();
    $('#copy-from-search-pane-button').bind('click', function() {
      $('#taskSearchText').val($('#searchText').val());
    });

    $('#clear-task-button').bind('click', function() {
      // to default
      // todo: request defaults!
      $('#taskSearchText').val("");
      $('#taskEmail').val("");
      $("#taskTimeout").val("");
    });
  });

  function addClearActions() {
    $('#clear-task-search-text').bind('click', function() {
      clearField('taskSearchText');
    });
    $('#clear-task-search-email').bind('click', function() {
      clearField('taskEmail');
    });
    $('#clear-task-search-timeout').bind('click', function() {
      clearField('taskTimeout');
    });
  }

  function clearField(id) {
    $('#' + id).val("");
  }

</script>


